<tr class="rating-list-item">
  <td class="rating-list-item__col">
    {{position}}
    <sub>
      {{positionChange}}
    </sub>
  </td>
  <td class="rating-list-item__col">
    {{name}}
  </td>
  <td class="rating-list-item__col">
    {{rank}}
  </td>
  <td class="rating-list-item__col">
    {{value}}
    <sub>
      {{valueChange}}
    </sub>
  </td>
  <td class="rating-list-item__col">
    {{> modules/rating/list-item-favorite/index id=id }}
  </td>
</tr>
