<tr class="rating-list-item">
  <td>
    {{position}}
    <sub>
      {{positionChange}}
    </sub>
  </td>
  <td>
    {{name}}
  </td>
  <td>
    {{rank}}
  </td>
  <td>
    {{value}}
    <sub>
      {{valueChange}}
    </sub>
  </td>
  <td>
    {{> modules/rating/list-item-favorite/index id=id isFavorite=isFavorite }}
  </td>
</tr>
