<div class="rating-list-item-favorite">
  <input{{# if isFavorite}} checked="checked"{{/if}} class="rating-list-item-favorite__radio" id="rating-list-item-favorite-{{id}}-1" name="rating-list-item-favorite-{{id}}" type="radio" value="{{id}}-1">
  <label class="rating-list-item-favorite__label" for="rating-list-item-favorite-{{id}}-1">
    {{> modules/common/svg-icon/index src="icons/star-o.svg" }}
  </label>
  <input{{# unless isFavorite}} checked="checked"{{/unless}} class="rating-list-item-favorite__radio" id="rating-list-item-favorite-{{id}}-0" name="rating-list-item-favorite-{{id}}" type="radio" value="{{id}}-0">
  <label class="rating-list-item-favorite__label" for="rating-list-item-favorite-{{id}}-0">
    {{> modules/common/svg-icon/index src="icons/star.svg" }}
  </label>
</div>
