<div class="rating-list-item-favorite">
  <input class="rating-list-item-favorite__input" id="rating-list-item-favorite-{{id}}" name="rating-list-item-favorite-{{id}}" type="checkbox" value="{{id}}">
  <label class="rating-list-item-favorite__label rating-list-item-favorite__label_off" for="rating-list-item-favorite-{{id}}">
    {{> modules/common/svg-icon/index src="icons/star-outline.svg" }}
  </label>
  <label class="rating-list-item-favorite__label rating-list-item-favorite__label_on" for="rating-list-item-favorite-{{id}}">
    {{> modules/common/svg-icon/index src="icons/star-full-outline.svg" }}
  </label>
</div>
