<meta content="{{head.description}}" name="description" />
<meta content="{{head.keywords}}" name="keywords" />
<meta content="{{head.title}}" name="title">
<meta content="{{head.url}}" name="url">

<meta content="{{head.description}}" property="og:description">
{{#[helpers/with-image] head.image}}
  <meta content="{{src}}" property="og:image">
{{/[helpers/with-image]}}
<meta content="{{head.title}}" property="og:title">
<meta content="website" property="og:type">
<meta content="{{head.url}}" property="og:url">

<meta content="summary" property="twitter:card">
<meta content="{{head.description}}" property="twitter:description">
{{#[helpers/with-image] head.image}}
  <meta content="{{src}}" property="twitter:image">
{{/[helpers/with-image]}}
<meta content="{{head.title}}" property="twitter:title">
<meta content="{{head.url}}" property="twitter:url">
{{#[helpers/with-image] head.image}}
  <link href="{{src}}" rel="icon">
{{/[helpers/with-image]}}

<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#222423">
<link rel="shortcut icon" href="/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#1e1e1e">
<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="/favicon/browserconfig.xml">
<meta name="theme-color" content="#1e1e1e">

<title>{{head.title}}</title>
