<div class="navigation-item">
  <input class="navigation-item__checkbox" id="{{name}}-{{value}}" name="{{name}}" type="checkbox">
  <label class="navigation-item__label" for="{{name}}-{{value}}">
    {{> @partial-block }}
  </label>
</div>
