<div class="navigation-item">
  <input class="navigation-item__radio" id="{{name}}-{{value}}" name="{{name}}" type="radio" value="{{value}}">
  <label class="navigation-item__label" for="{{name}}-{{value}}">
    {{> @partial-block }}
  </label>
</div>
